@model int[]
<div class="text-center">
    <p>Here number array</p>
    <h1 class="display-4">@{
        foreach( int number in @Model)
        {
            <div>@number</div>
        }
        
        } </h1>
</div>